*{
    box-sizing: border-box;
    margin: 0;
}
/* navbar */
ul{
    list-style-type: none;
    background-color: whitesmoke;
    display: flex;
    position: fixed;
    top: 0;

}
.hnav{
    float: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: x-large;
    font-weight: bolder;
    color: darkblue;
}
ul li{
    justify-content: center;
    align-items: center;
    padding: 20px;
    text-transform: capitalize;
    margin-left: 30px;
    
    
}
ul li a{
    text-decoration: none;
    justify-content: center;
    color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li:hover{
    text-decoration: underline;
    transition: all 0.6s ease-in-out;

}
.dropdown{
    position: relative;
}
.drop-cont{
    position: absolute;
    padding: 10px 10px;
    box-shadow: 0px 3px 3px 0px rgb(0,0,0,0.3);
    z-index: 1;
    display: none;
}
.drop-cont a{
    padding: 4px;
    display: block;
    color: black;
}
.dropdown:hover .drop-cont{
    display: block;
}
.drop-cont a:hover{
    text-decoration: underline;
    transition: all 0.3s ease-in-out;
    color: black;
}
/* container 1 */
.container1{
    background-image:url(c1.jpg) ;
    padding: 200px;
    justify-content: center;
    margin-top: 40px;
    margin-left: 40px;
    margin-right: 40px;
}
.cont1{
    justify-content: center;
    align-self: center;
    margin-left: 350px;
    padding: 30px;
    
}
.cont1 h4{
    font-size: x-large;
    font-weight: bolder;
    
}
.cont1 h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    padding: 5px;
}
.cont1 input[type=button]{
    padding: 15px;
    width: 150px;
    margin-top: 30px;
    cursor: pointer;
    text-transform: capitalize;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;
    border: none;

}
.cont1 input[type=button]:hover{
    transition: all 0.5s ease-out;
    background-color: rgb(33, 33, 33);
    color: white;
    
}
.container2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid rgb(0,0,0,0.3);
}
.cont2{
    padding: 30px;
}
.cont2 h4{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-transform: capitalize;
    opacity: 0.8;
    margin-bottom: 10px;

}
.cont2 p1{
    margin-left: 10px;
}
.cont2 p1,.cont2 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
/* container 3 */

.cont3{
    display: flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    gap: 40px;
}

.cont30{
    justify-content: center;
    display: block;
    margin-left: 600px;
    margin-bottom: 30px;
    
}
.cont30 h2{
    text-transform: uppercase;
     
    
}

.cont30 p{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
}
.cont31 img{
    box-shadow: 2px 2px 2px 2px rgb(0,0,0,0.2);
    border: none;
    border-radius: 3px;
     
}

.cont31 p{
    text-transform: capitalize;
}
.cont33{
    display: flex;
    justify-content: center;
    
    gap: 40px;
    margin-top: 10px;
}
/* container 4 */
.container4{
    box-sizing: border-box;
    
    margin-top: 60px;
    background-color: aliceblue;
    margin-bottom: 50px;
    margin-left: 40px;
    margin-right: 40px;
}
.cont4{
    display: flex;
    justify-content: center;
    gap: 40px;
}
.container4 h2{
    margin-left: 600px;
    margin-bottom: 30px;
    text-transform: capitalize;
    
    
}
.cont441,.cont442,.cont443{
    border-radius: 3px;
    width: 20%;
    height: 250px;
    padding: 10px;
}
.cont441 p,.cont442 p,.cont443 p{
    float: right;
    margin-top: 180px;
    margin-right: 40px;
    background-color: white;
    padding: 18px;
    border: none;
    border-radius: 3px;
    box-shadow: 0px 0px 2px 2px rgb(0,0,0,0.2);
}
.cont441{
    background-image:url(c2.jpg) ;
    background-size: cover;
    
}
.cont442{
    background-image: url(c3.jpg);
    background-size: cover;
}
.cont443{
    background-image: url(c4.jpg);
    background-size: cover;
}
.cont441 p1,.cont442 p1,.cont443 p1{
    margin-right: 100px;
    float: right;
    opacity: 0.7;
    
}
/* footer */

footer{
    display: flex;
    justify-content: center;
    background-color: rgb(194, 192, 192);
    padding: 100px;
    margin: 20px;
}
.foot1{
    padding: 50px;
}
.foot1 h4{
    text-transform: capitalize;
    opacity: 0.8;
    margin-bottom: 10px;
}
.foot1 li{
    list-style-type: none;
    padding: 10px;

}
.foot1 li a,.foot1 form p,.foot1 lable[for=email]{
    text-decoration: none;
    text-transform: capitalize;
    color: black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: small;
    
}
.foot1 li:hover{
    text-decoration: underline;
    transition: all 0.4s ease-in-out;
}
.foot1 form{
    padding: 10px;
}
.foot1 input[type=email]{
    border: none;
    border-bottom:1px solid;
}
.foot1 input[type=button]{
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    border: none;
    text-decoration: underline;
    border-radius: 4px;
    
}
.foot1 input[type=email]:focus{
    outline: none;
    opacity: 0.5;

}
/* styling icons */
.icon{
    opacity: 0.6;
}
.icon:hover{
    cursor: pointer;
}
.iconf{
    padding: 18px;
    float: right;
    cursor: pointer;
    opacity: 0.6;
}
.icon2{
    font-size: x-large;
    font-weight: bolder;
}
